.nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); /*Safari and Chrome*/
}

.option1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.hamburger-icon, .selected-menu {
    cursor: pointer;
    color: white;
}

.menu {
    position: fixed;
    top: 60px;
    left: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.option3{
    border-left: 1px solid rgba(255, 255, 255, 1);
    padding-left: 1rem;
}